
.repeticion {
    margin-bottom: 80px;
    position: relative;
    height: 320px;
}

.front img, .back {
    width: 100% !important;
    height: 100% !important;
    display:inline-block;
}
.front img{
    width:100%;
    height:auto;
}

.front, .back, .flip-container {
    height: 300px !important;
    border-radius: 10px;
}

#inicio {
    text-align: center;
}


h1 {
    font-family: 'Ubuntu', sans-serif;
}

/* entire container, keeps perspective */
.flip-container {
    -webkit-perspective: 1000px;
}
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
    }


/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
}

/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
    background-color: #ffc266;
    text-align: center;
    font-family: Arial;
    color: #ce7f25 !important;
    padding: 25px;
}

#contenido {
    margin-top: 0;
}
