body {
    background-image: url("https://i.pinimg.com/originals/54/77/4f/54774f4bc8287c7337fadd5fbb419da6.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    
}

.footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    color: whitesmoke;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px;
    height: 50px;
}

#contenido {
    margin-top: 80px;
}

.navbar-brand {
    padding: 10px 10px;
}

#columna-derecha, #columna-izquierda {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 80px;
    padding-bottom: 20px;

}

    #columna-derecha img, #columna-izquierda img {
        margin-bottom:15px;
        margin-top: 10px;
    }


    #columna-derecha img, #columna-izquierda img {
        margin-bottom: 15px;
        margin-top: 10px;
    }

#inicio-principal {
    text-align: center;
}


.modal-header {
    padding: 20px;
}

.modal-title {
    text-align: center;
    font-weight: bold;
}

#etiqueta {
    text-align: center;
    color: whitesmoke;
    font-size: 14px;
    font-weight: bold;
    padding-top: 15px;
    padding-right: 10px;
}