
#encapsula {
    background-color: orange;
    width:250px;
    height:250px;
    margin: 0 auto;
    text-align: center;
}

#inicio, #mision, #vision {
    text-align: center;
    margin-bottom: 50px;
}

